<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bluesky OSINT Tool</title>
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>
    <h1>Bluesky OSINT Tool</h1>

    <section class="search-controls-wrapper">
      <form id="query-form" class="search-controls">
        <input
          type="text"
          id="query"
          name="query"
          placeholder="Search term"
          required
        />
        <input type="date" id="start-date" name="start_date" />
        <input type="date" id="end-date" name="end_date" />
        <button type="submit">Search</button>
      </form>

      <div class="save-load-controls search-controls">
        <div class="filter-controls">
          <input
            type="number"
            id="likes-filter"
            placeholder="Min Likes"
            min="0"
          />
          <input
            type="number"
            id="replies-filter"
            placeholder="Min Replies"
            min="0"
          />
          <input
            type="number"
            id="reposts-filter"
            placeholder="Min Reposts"
            min="0"
          />
          <input
            type="number"
            id="quotes-filter"
            placeholder="Min Quotes"
            min="0"
          />
        </div>
        <div id="save-load-controls">
          <button id="save-button">Save Current Search</button>
          <select id="load-select" multiple></select>
          <button id="load-button">Load</button>
        </div>
      </div>
    </section>

    <h2>Posts</h2>

    <div class="grid" id="card-grid"></div>

    <h2>Visualizations</h2>

    <section class="visualizations" id="visualizations">
      <div class="viz" id="bar-chart"></div>

      <div class="viz" id="daily-posts-chart"></div>

      <div class="viz" id="top-authors-chart"></div>

      <div class="viz" id="top-domains-chart"></div>

      <div class="viz" id="word-cloud"></div>

      <div class="viz" id="bigram-cloud"></div>

      <div class="viz" id="trigram-cloud"></div>

      <div class="viz" id="weekly-heatmap-chart"></div>

      <div class="viz" id="hourly-posts-chart"></div>

      <div class="viz" id="hourly-metrics-chart"></div>
    </section>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
    <script src="../static/main.js"></script>
  </body>
</html>
